# Caches Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Ambiente virtual
venv/
.venv/

# Variáveis de ambiente e segredos
.env
*.key
*.pem

# Logs
logs/
*.log

# IDEs
.vscode/
.idea/
*.swp

# Sistemas operacionais
.DS_Store
Thumbs.db
